{% extends "login.html" %} 
{% block title %} Reset Password {% endblock %}

{% block content %}
    <h1>Set New Password</h1>
    {% if token %}
    <form method="POST" action="{{ url_for('auth.reset', token=token) }}">
        <div class="input-box">
            <input type="password" name="password" placeholder="New Password" id="password" required>
        </div>
        <div class="input-box">
            <input type="password" name="password2" placeholder="Confirm New Password" id="password2" required>
        </div>
        <div class="input-box">
            <button type="submit" class="btn">Reset Password</button>
        </div>
    </form>
    {% else %}
    <p>The password reset link is invalid or has expired.</p>
    {% endif %}
{% endblock %}